--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple
torch==2.2.0
torchtext==0.17.0
torchvision==0.17.0
pyflann-py3
scipy==1.7.3
scikit-learn==1.0.2
opencv-python==4.11.0.86
numpy==1.26.4